.DS_Store

# kustomize build --enable-helm will download charts locally
**/charts/**

**/vendor/**

secret.yaml**

# cloned repo might exist, conscious choice not to use submodules
build/ipxe/ipxe
# binary generated in build/ipxe, moved under automation/ansible
**.kpxe
